<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>join</title>
  <style>
        #wrapper{
            max-width: 800px;/* 최대 가로폭 지정 */
            width:300px;/* 가로폭 지정 */
            margin:auto;/* 상하 여백 0, 좌우 여백 균등하게 */
        }
    </style>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
	
	
	
	
		$(function (){
			//console.log("게시판 목록보기 ~~~~~~~~~~~~~")
			
			// 아이디를 입력할때 Ajax로 가입가능한 id인지를 확인하는 함수
			// 키보드로 문자를 입력하고 떨어질때마다 작동
			$("#userid").keyup(function(){
				// 입력값 읽기
				let userid = $("#userid").val();
				// alert(userid);
				// 공백 입력 체크
				if(userid.indexOf(' ')>=0){
					alert('아이디에는 공백을 포함할 수 없습니다.');
					$(this).val("");
					$(this).focus();
					return;
				}
				
				// 여기서 Ajax를 호출해서 중복여부 검사!!!
				if(userid.length>=4){ // 길이가 4자 이상일경우에만 Ajax처리를 한다.
					axios.get('/idCheck?id=' + userid)
					  .then(function (response) {
					    // 성공 핸들링
					    console.log(response);
					    let result = response.data * 1; // 혹시라도 문자열이지 몰라서 숫자로 변경
					    if(result>=1){ // 동일한 아이디가 존재한다 
					    	$("#msg").html("사용 불가능한 아이디 입니다.").css('color','red');
					    }else{ // 0이면 동일한 아이디가 없다.
					    	$("#msg").html("사용 가능한 아이디 입니다.").css('color','blue');
					    }
					  })
					  .catch(function (error) {
					    // 에러 핸들링
					    console.log(error);
					    alert('실패!!!!')
					  })
					  .finally(function () {
					    // 항상 실행되는 영역
					  });	
					
					
				}else{
					$("#msg").html("");
				}
				
			});
		});	
		
		function formCheck(){
			
			let value = $("#name").val();
			if(value==null || value.trim().length==0){
				alert('이름은 반드시 입력해야 합니다.');
				 $("#name").val("");
				 $("#name").focus();
				 return false;
				 
			}
			value = $("#userid").val();
			if(value==null || value.trim().length==0){
				alert('아이디는 반드시 입력해야 합니다.');
				 $("#userid").val("");
				 $("#userid").focus();
				 return false;
			}
			value = $("#password").val();
			if(value==null || value.trim().length==0){
				alert('비밀번호는 반드시 입력해야 합니다.');
				 $("#password").val("");
				 $("#password").focus();
				 return false;
			}
			
			value = $("#email").val();
			if(value==null || value.trim().length==0){
				alert('이메일은 반드시 입력해야 합니다.');
				 $("#email").val("");
				 $("#email").focus();
				 return false;
			}
			
			value = $("#phone").val();
			if(value==null || value.trim().length==0){
				alert('전화번호는 반드시 입력해야 합니다.');
				 $("#phone").val("");
				 $("#phone").focus();
				 return false;
			}
			// 아이디 체크한 결과의 색상을 얻어보자!!!
			value = $("#msg").css('color');
			//alert(value=='rgb(255, 0, 0)');
			if(value=='rgb(255, 0, 0)'){
				alert('아이디는 반드시 등록가능한 아이디여야 합니다.');
				 $("#userid").val("");
				 $("#userid").focus();
				 return false;
			}
		}

	</script>
</head>
<body>
	<header th:replace="~{comm/myLayout :: #myHeader}">
	<nav th:replace="~{comm/myLayout :: #myNav}"></nav>
	</header>
		<div class="card mb-4">
			
			</div>
			
	<section>
  <div id="wrapper">
		<form action="insertOk" method="post" onsubmit="return formCheck();">
		<table>
			<tr>
				<td style="border: none;font-size: 18pt;text-align: center;"> 회원 가입</td>
			</tr>
			<tr>
				<td>
						  <div class="mb-3">
						사용자 이름 <input type="text"  class="form-control" name="name" id="name" required="required" placeholder="이름입력"/> <br />
						</div>
					  <div class="mb-3">
						사용자 아이디 <input type="text" class="form-control" name="id" id="userid" required="required" placeholder="아이디입력"/> 
						<!-- 이자리에 유효한 아이디인지 아닌지를 표시할거다. -->
						<span id="msg">아이디를 입력하세요.</span>
					</div>
						  <div class="mb-3">
						사용자 비밀번호 <input type="password" class="form-control" name="password" id="password" required="required" placeholder="비밀번호입력"/> <br />
						</div>
						  <div class="mb-3">
						사용자 이메일 <input type="text" class="form-control" name="email" id="email" required="required" placeholder="이메일입력"/> <br />
						</div>
						  <div class="mb-3">
						사용자 전화번호 <input type="text" class="form-control" name="phone" id="phone" required="required" placeholder="전화번호입력"/> <br />
						</div>
						
					
      
								
										  
							 <div class="d-grid gap-2 d-md-flex justify-content-md-center">						
						<input type ="button" value="뒤로가기" class="btn btn-primary"  th:onclick="location.href='/'"/>
						<input type="reset" value="다시쓰기" class="btn btn-primary" />										
						<input type="submit" value="가입하기"  class="btn btn-primary"  />										
					</div>
				</td>
			</tr>
		</table>
		</form>
	</div>
	</section>
	<footer th:replace="~{comm/myLayout :: #myFooter}"></footer>
</body>
</html>